#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card, .product-card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Baseline styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2c2c2c; /* Mørk baggrund for hele app'en */
  color: #ffffff; /* Lys tekstfarve for kontrast */
  margin: 0;
  padding: 0;
}

/* ShoppingCart and CartItem styles */
.cart-item {
  display: flex;
  align-items: center;
  background-color: #424242; /* Mørkegrå baggrund for individuelle varer */
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 1rem;
  border: 1px solid #616161;
  border-radius: 4px;
}

.cart-item-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-description, .cart-item-price, .cart-item-name, .total-price,
.cart-item-discount, .cart-item-final-total {
  color: #fff;
  margin-bottom: 0.5rem;
}

.cart-item-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-item-price {
  color: #bdbdbd; /* Lysere grå for priser og detaljer */
}

.quantity-select {
  border: 1px solid #616161;
  background-color: #616161;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.remove-button {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.8rem; /* Gjort mindre */
}

.remove-button:hover {
  background-color: #ff0000;
}

/* Produkt liste og kort layout */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  box-sizing: border-box;
  border: 3px solid #ccc;
  padding: 1em; /* Ensartet padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
}

.product-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-size: 2em; /* Forøget skriftstørrelse for navnet */
  margin-bottom: 0.5em;
  font-weight: bold; /* Tilføjet fed skrift */
}

.product-price {
  font-size: 1.5em; /* Forøget skriftstørrelse for prisen */
  margin-bottom: 1em;
}

/* Stilarter for 4 produkter pr. række på desktop */
@media (min-width: 800px) {
  .product-card {
    width: calc(25% - 40px); /* Tilpasset for at sikre 4 produkter pr. række */
    margin: 20px; /* Tilpasset margin for at sikre mellemrum */
  }
}

/* Stilarter for 2 produkter pr. række på mobile enheder */
@media (max-width: 799px) {
  .product-card {
    width: calc(50% - 40px); /* Tilpasset for at sikre 2 produkter pr. række */
    margin: 20px; /* Ensartet margin med desktop-visning */
  }
}